<form
        id="usersignup"
        action="{baseurl}/index.php?action=signup&amp;type=agent"
        method="post"
>
    <input type="hidden" name="token" value="{csrf_token}"/>
    <h3>Agent Signup</h3>
    <div class="form_div">
        <div class="field_caption">Username <span class="redtext">*</span></div>
        <div class="field_element">
            <input type="text" name="edit_user_name" spellcheck="false" class="required"/>
        </div>
    </div>
    <div class="clear"></div>
    <div class="form_div">
        <div class="field_caption">Password <span class="redtext">*</span></div>
        <div class="field_element">
            <input type="password" spellcheck="false" class="required" name="edit_user_pass"/>
        </div>
    </div>
    <div class="clear"></div>
    <div class="form_div">
        <div class="field_caption">
            Password (Again)<span class="redtext">*</span>
        </div>
        <div class="field_element">
            <input type="password" spellcheck="false" class="required" name="edit_user_pass2"/>
        </div>
    </div>
    <div class="clear"></div>
    <div class="form_div">
        <div class="field_caption">First Name <span class="redtext">*</span></div>
        <div class="field_element">
            <input type="text" class="required" name="user_first_name"/>
        </div>
    </div>
    <div class="clear"></div>
    <div class="form_div">
        <div class="field_caption">Last Name <span class="redtext">*</span></div>
        <div class="field_element">
            <input type="text" name="user_last_name" class="required"/>
        </div>
    </div>
    <div class="clear"></div>
    <div class="form_div">
        <div class="field_caption">
            Email <span class="redtext">*</span><br/>(not displayed on site)
        </div>
        <div class="field_element">
            <input
                    type="email"
                    name="user_email"
                    class="{validate:{required:true,email:true}}"
            />
        </div>
    </div>
    <div class="clear"></div>

    {custom_fields} {captcha_display}

    <div class="space_5"></div>
    <div class="form_div">
        <div class="field_caption"></div>
        <div class="field_element">
            <input class="or_std_button" type="submit" name="Submit" value="Submit"/>
        </div>
    </div>
    <div class="clear"></div>
    <div class="space_5"></div>
    <div class="form_div">
        <div class="field_caption"></div>
        <div class="field_element">
            Items marked <span class="required">*</span> are required
        </div>
    </div>
    <div class="clear"></div>
</form>
